<div class="container" ng-init="init()">
  <div id="slider">
    <button ng-click="callAnt()" class="control-l"><i class="fa fa-angle-left"></i></button>
    <button ng-click="callNext()" class="control-r"><i class="fa fa-angle-right"></i></button>

    <div class="item">
      <p class="comentario">
        <span class="simble">"</span>
        Imensamente grato a toda a equipe, trabalho rápido e com comprometimento na qualidade! Nota mil
        <span class="simble">"</span>
        <small> - ProprietarioNome, CEO da empresa1</small>
      </p>
    </div>

    <div class="item">
      <p class="comentario">
        <span class="simble">"</span>
        hohohoImensamente grato a toda a equipe, trabalho rápido e com comprometimento na qualidade! Nota mil
        <span class="simble">"</span>
        <small> - ProprietarioNome, CEO da empresa1</small>
      </p>
    </div>
  </div>
</div>
