<div class="container" ng-init="init()">
  <div id="slider">
    <button ng-click="callAnt()" class="control-l"><i class="fa fa-angle-left"></i></button>
    <button ng-click="callNext()" class="control-r"><i class="fa fa-angle-right"></i></button>

    <div class="item">
      <p class="comentario">
        <span class="simble">"</span>
        Excelência na solução desenvolvida, comprometimento com a entrega, e atendimento muito bem feito, obrigado Skynar!
        <span class="simble">"</span>
        <small> - Breno Agnani, CEO da WeApp</small>
      </p>
    </div>

    <div class="item">
      <p class="comentario">
        <span class="simble">"</span>
        O Sistema de cursos desenvolvido pela Skynar deu um novo dinamismo para alguns setores da empresa, também, economizou de alguns funcionários em atividades manuais. Sou muito grato ao serviço prestado.
        <span class="simble">"</span>
        <small> - Danilo, CEO da Crescimentum</small>
      </p>
    </div>
    <div class="item">
      <p class="comentario">
        <span class="simble">"</span>
        Estou muito contente e surpreendida com o sistema web desenvolvido pela Skynar. Muito obrigado!
        <span class="simble">"</span>
        <small> - Andrea, Arquiteta e CEO da Andrea Rosany</small>
      </p>
    </div>
  </div>
</div>
