<div class="container">

    <div class="row halign contato-effect animated">
        <div class="col-xs-11 col-md-8 col-lg-6 center-block contact-card">
            <hgroup>
                <h3>Fale Conosco</h3>
                <h4 class="text-center">Entre em contato conosco pelo formulário abaixo, ou pelas redes sociais!!</h4>
            </hgroup>
            <form name="contato" ng-submit="sendMail($event, msg)">
                <div class="form-group">
                    <label>Seu nome</label>
                    <input type="text" name="nome" ng-model="msg.nome" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Seu email</label>
                    <input type="email" name="email" ng-model="msg.email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Assunto</label>
                    <input type="text" name="assunto" ng-model="msg.assunto" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Mensagem</label>
                    <textarea rows="3" name="mensagem" ng-model="msg.mensagem" class="form-control" required></textarea>
                </div>
                <button type="submit" ng-disabled="contato.$invalid" class="btn btn-block btn-skynar">Enviar</button>
                <div class="spinner halign" ng-include="'assets/images/skynar.svg'"></div>
            </form>
            <br />
        </div>
    </div>

</div>
