<div class="container">

    <div class="row halign">
        <div class="col-md-8 col-lg-6 center-block contact-card">
            <hgroup>
                <h3>fale conosco</h3>
                <h4 class="text-center">Quer bater um papo conosco? Ficamos honrados! Entre em contato conosco pelo formulário abaixo, ou pelas redes sociais!!</h4>
            </hgroup>
            <form name="contato">
                <div class="form-group">
                    <label>Seu nome</label>
                    <input type="text" name="nome" ng-model="msg.nome" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Seu email</label>
                    <input type="email" name="email" ng-model="msg.email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Assunto</label>
                    <input type="text" name="assunto" ng-model="msg.assunto" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Mensagem</label>
                    <textarea rows="3" name="mensagem" ng-model="msg.mensagem" class="form-control" required></textarea>
                </div>
                <button ng-disabled="contato.$invalid" class="btn btn-block btn-primary">Enviar</button>
                <div class="spinner halign" ng-include="'assets/images/skynar.svg'"></div>
            </form>
        </div>
    </div>

</div>