<nav ng-init="init()" class="navbar navbar-default animated bounceInDown" id="mynav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand valign" href="#">
        <div class="spinner2 halign" ng-include="'assets/images/skynar.svg'"></div>
      </a>
      <a class="navbar-brand" href="#">
        Skynar
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="myLinks">
        <li class="active"><a href="#header">Home</a></li>
        <li><a href="#port">Portfolio</a></li>
        <li><a href="#team">Quem somos</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div ng-init="effect()" class="col-md-6 animated bounceInLeft" id="saf">
            <hgroup>
                <h2 class="subs">Efetividade</h2>
                <h2 class="subs dark">Comprometimento</h2>
                <h2 class="subs">Agilidade</h2>
            </hgroup>
        </div>
        <div class="col-md-6 hidden-sm hidden-xs animated flipInX">
            <img src="assets/images/mac.svg" alt="Mac" style="width: 100%">
        </div>
    </div>
</div>

<div class="header-footer">
  <a href="#port"><button class="arrow-bt">
    <i class="fa fa-angle-down"></i>
  </button></a>
</div
