   <div class="row content">

        <div class="col-md-6 enrico">
            <div class="user-card">
                <img src="assets/images/users/mew.jpg" alt="Usuario" class="user-avatar img-circle">
                <div class="body">
                    <h3 class="user">Enrico Alvarenga</h3>
                    <ul>
                        <li>Localização: <span class="pull-right">São Paulo, SP</span></li>
                        <li>Email: <span class="pull-right">enricomalvarenga@gmail.com</span></li>
                        <li>Especialista: <span class="pull-right">Server-side</span></li>
                        <li
                            class="desc"
                            data-toggle="collapse"
                            data-target="#collapse-enrico"
                            aria-expanded="false"
                            aria-controls="collapse-enrico">

                            Descrição

                        </li>
                        <div class="collapse" id="collapse-enrico">
                            <div class="body">
                                Graduando em Ciência da Computação na FEI, e um profissional com ampla experiência em Desenvolvimento de Aplicações REST, e Configuração de Ambiente de Produção ( DevOps ).
                            </div>
                        </div>
                        <li class="buttons">
                            <button class="btn-float">
                                <i class="fa fa-github"><a href="http://github.com/rikez"></a></i>
                            </button>
                            <button class="btn-float fb">
                                <i class="fa fa-facebook"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 bordin">
            <div class="user-card">
                <img src="assets/images/users/bordin.jpg" alt="Usuario" class="user-avatar">
                <div class="body">
                    <h3 class="user">Matheus Bordin</h3>
                    <ul>
                        <li>Localização: <span class="pull-right">São Paulo, ABC</span></li>
                        <li>Email: <span class="pull-right">mabordin98@gmail.com</span></li>
                        <li>Especialista: <span class="pull-right">MEAN Stack</span></li>
                        <li class="desc" data-toggle="collapse" data-target="#collapse-bordin" aria-expanded="false" aria-controls="collapse-bordin">Descrição</li>
                        <div class="collapse" id="collapse-bordin">
                            <div class="body">
                                Graduando em Ciência da Computação na FEI, e um profissional com ampla experiência em Desenvolvimento Web, Mobile e Desktop.
                            </div>
                        </div>
                        <li class="buttons">
                            <button class="btn-float">
                                <i class="fa fa-github"><a href="http://github.com/matheusbordin"></a></i>
                            </button>
                            <button class="btn-float fb">
                                <i class="fa fa-facebook"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
