   <div class="row content">

        <div class="col-md-6">
            <div class="user-card">
                <img src="assets/images/users/avatar.jpg" alt="Usuario" class="user-avatar img-circle">
                <div class="body">
                    <h3 class="user">Enrico Alvarenga</h3>
                    <ul>
                        <li>Idade: <span class="pull-right">21</span></li>
                        <li>Email: <span class="pull-right">enricomalvarenga@gmail.com</span></li>
                        <li>Especialista: <span class="pull-right">Server-side</span></li>
                        <li 
                            class="desc" 
                            data-toggle="collapse"
                            data-target="#collapse-enrico"
                            aria-expanded="false" 
                            aria-controls="collapse-enrico">

                            Descrição

                        </li>
                        <div class="collapse" id="collapse-enrico">
                            <div class="body">
                                ola
                            </div>
                        </div>
                        <li class="buttons">
                            <button class="btn-float">
                                <i class="fa fa-github"></i>
                            </button>
                            <button class="btn-float fb">
                                <i class="fa fa-facebook"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="user-card">
                <img src="assets/images/users/avatar.jpg" alt="Usuario" class="user-avatar">
                <div class="body">
                    <h3 class="user">Matheus Bordin</h3>
                    <ul>
                        <li>Idade: <span class="pull-right">18</span></li>
                        <li>Email: <span class="pull-right">mabordin98@gmail.com</span></li>
                        <li>Especialista: <span class="pull-right">MEAN Stack</span></li>
                        <li class="desc" data-toggle="collapse" data-target="#collapse-bordin" aria-expanded="false" aria-controls="collapse-bordin">Descrição</li>
                        <div class="collapse" id="collapse-bordin">
                            <div class="body">
                                ola
                            </div>
                        </div>
                        <li class="buttons">
                            <button class="btn-float">
                                <i class="fa fa-github"></i>
                            </button>
                            <button class="btn-float fb">
                                <i class="fa fa-facebook"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>