section.contato {
    @include section();
    @include valign();

    & h3 {
        font-size: 32px;
        margin-bottom: 20px;

        text-transform: uppercase;
        text-align: center;
    }
    hgroup {
        margin-bottom: 15px;
    }
    .contato-effect {
      opacity: 0;
      animation-fill-mode: forwards;
    }
}

.contact-card {
    padding: 20px;

    border-radius: 4px;
    box-shadow: 0 5px 15px  rgba(0,0,0,0.4);

    border-top: 4px solid $skynar;
}
